In [15]:
import os
import time
import subprocess
import fnmatch
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
food = pd.read_csv('food.csv')
food.head()

,Food_items,Breakfast,Lunch,Dinner,VegNovVeg,Calories,Fats,Proteins,Iron,Calcium,Sodium,Potassium,Carbohydrates,Fibre,VitaminD,Sugars
0,Asparagus Cooked,0,1,1,,22,0.2,2.4,0.91,23.0,14,224.0,4.1,2.0,0,1.3
1,Avocados,1,0,0,0,160,15.0,2.0,0.55,12.0,7,485.0,8.5,6.7,0,0.7
2,Bananas,1,0,0,0,89,0.3,1.1,0.26,5.0,1,358.0,23.0,2.6,0,12.0
3,Bagels made in wheat,0,1,1,0,250,1.5,10.0,2.76,20.0,439,165.0,49.0,4.1,0,6.1
4,Berries,1,0,0,0,349,0.4,14.0,6.80,190.0,298,77.0,77.0,13.0,0,46.0

In [18]:
nut_dis = pd.read_csv('nutrition_distriution.csv')
nut_dis.head()

,0Calories,1Fats (gm),2Proteins(g),3Iron(mg),4Calcium(mg),5Sodium(mg),6Potassium(mg),7Carbohydrates (gm),8Fibre (gm),9Vitamin D (mcg),10Sugars (gm)
0,160,15.0,2.0,0.55,12,7,485.0,8.5,6.7,0,0.7
1,89,0.3,1.1,0.26,5,1,358.0,8.5,2.6,0,12.0
2,349,0.4,14.0,6.80,190,298,77.0,8.5,13.0,0,46.0
3,331,24.0,20.0,0.84,497,966,363.0,8.5,0.0,0,0.0
4,2,0.0,0.3,0.02,2,1,50.0,8.5,0.0,0,0.0

In [22]:
food.Fats.iloc[0]

0.2

In [ ]:
food.Calories.mean()